{% extends 'base.html' %}

{% block content %}

Hi {{ user.username }}!
<form action="{% url 'accounts:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
  <h2 class="text-2xl font-bold mb-4 text-center">Dashboard 2024</h2>

<!--------------    Appointment list --------------->
<div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold mb-4 text-center">Appointment List</h1>
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-center">Doctor</th>
                        <th class="px-4 py-2 text-center">Patient</th>
                        <th class="px-4 py-2 text-center">Clinic</th>
                        <th class="px-4 py-2 text-center">Department</th>
                        <th class="px-4 py-2 text-center">Room</th>
                        <th class="px-4 py-2 text-center">Date</th>
                        <th class="px-4 py-2 text-center">Time</th>
                        <th class="px-4 py-2 text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                        <tr class="border-b">
                            <td class="px-4 py-2 text-center">
                                <a
                                        href="{% url 'clinic:appointment_detail' appointment.pk %}"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        {{ appointment.doctor.user.username }}
                                </a>
                            </td>
                            <td class="px-4 py-2 text-center">{{ appointment.patient.user.username }}</td>
                            <td class="px-4 py-2 text-center">{{ appointment.clinic.name }}</td>
                            <td class="px-4 py-2 text-center">{{ appointment.department.name }}</td>
                            <td class="px-4 py-2 text-center">{{ appointment.room.number }}</td>
                            <td class="px-4 py-2 text-center">{{ appointment.date }}</td>
                            <td class="px-4 py-2 text-center">{{ appointment.time }}</td>
                            <td class="px-4 py-2 text-center">{{ appointment.status }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="px-4 py-2 text-center">No appointments found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'clinic:appointment_create' %}">записаться на прием к врачу</a>
        </div>
</div>




<!--------------    patient list --------------->
<div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold mb-4 text-center">Patient List</h1>
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-center">Name</th>
                        <th class="px-4 py-2 text-center">BirthDate</th>
                        <th class="px-4 py-2 text-center">Gender</th>
                        <th class="px-4 py-2 text-center">Email</th>
                        <th class="px-4 py-2 text-center">Phone</th>
                        <th class="px-4 py-2 text-center">Medical History</th>
                        <th class="px-4 py-2 text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr class="border-b">
                            <td class="px-4 py-2 text-center">
                                <a
                                        href="{% url 'clinic:patient_detail' patient.pk %}"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        {{ patient.user.username }}
                                </a>
                            </td>
                            <td class="px-4 py-2 text-center">{{ patient.user.birth_date }}</td>
                            <td class="px-4 py-2 text-center">{{ patient.user.gender }}</td>
                            <td class="px-4 py-2 text-center">{{ patient.user.email }}</td>
                            <td class="px-4 py-2 text-center">{{ patient.user.phone }}</td>
                            <td class="px-4 py-2 text-center">{{ patient.medical_history }}</td>
                            <td class="px-4 py-2 text-center"></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="px-4 py-2 text-center">No patients found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>

<!--------------    Medical record list --------------->
<div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold mb-4 text-center">Medical Record List</h1>
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-center">Patient</th>
                        <th class="px-4 py-2 text-center">Doctor</th>
                        <th class="px-4 py-2 text-center">Date</th>
                        <th class="px-4 py-2 text-center">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medical_record in medical_records %}
                        <tr class="border-b">
                            <td class="px-4 py-2 text-center">
                                <a
                                        href="{% url 'clinic:medical_record_detail' medical_record.pk %}"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        {{ medical_record }}
                                </a>
                            </td>
                            <td class="px-4 py-2 text-center">{{ medical_record.doctor.user.username }}</td>
                            <td class="px-4 py-2 text-center">{{ medical_record.date }}</td>
                            <td class="px-4 py-2 text-center">{{ medical_record.description }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="px-4 py-2 text-center">No medical_records found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>


<!------------------------------    doctor list -->
<div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold mb-4 text-center">Doctor List</h1>
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-center">Name</th>
                        <th class="px-4 py-2 text-center">BirthDate</th>
                        <th class="px-4 py-2 text-center">Gender</th>
                        <th class="px-4 py-2 text-center">Email</th>
                        <th class="px-4 py-2 text-center">Phone</th>
                        <th class="px-4 py-2 text-center">Specailization</th>
                        <th class="px-4 py-2 text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doctor in doctors %}
                        <tr class="border-b">
                            <td class="px-4 py-2 text-center">
                                <a
                                    href="{% url 'clinic:doctor_detail' doctor.pk %}"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    {{ doctor.user.username }}
                                </a>
                            </td>
                            <td class="px-4 py-2 text-center">{{ doctor.user.birth_date }}</td>
                            <td class="px-4 py-2 text-center">{{ doctor.user.gender }}</td>
                            <td class="px-4 py-2 text-center">{{ doctor.user.email }}</td>
                            <td class="px-4 py-2 text-center">{{ doctor.user.phone }}</td>
                            <td class="px-4 py-2 text-center">{{ doctor.specialization }}</td>
                            <td class="px-4 py-2 text-center"> ... </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="px-4 py-2 text-center">No doctors found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
<!-------------------------   Clinic List       -->
<div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold mb-4 text-center">Clinic List</h1>
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-center">Name</th>
                        <th class="px-4 py-2 text-center">Address</th>
                        <th class="px-4 py-2 text-center">Phone</th>
                        <th class="px-4 py-2 text-center">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clinic in clinics %}
                        <tr class="border-b">
                            <td class="px-4 py-2 text-center">
                                <a
                                        href="{% url 'clinic:clinic_detail' clinic.pk %}"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        {{ clinic.name }}
                                </a>
                            </td>
                            <td class="px-4 py-2 text-center">{{ clinic.address }}</td>
                            <td class="px-4 py-2 text-center">{{ clinic.phone }}</td>
                            <td class="px-4 py-2 text-center">{{ clinic.email }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="px-4 py-2 text-center">No clinics found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>

<!-------------------------   Department List       -->
<div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold mb-4 text-center">Department List</h1>
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-center">Name</th>
                        <th class="px-4 py-2 text-center">Clinic</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                        <tr class="border-b">
                            <td class="px-4 py-2 text-center">
                                <a
                                        href="{% url 'clinic:department_detail' department.pk %}"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        {{ department.name }}
                                </a>
                            </td>
                            <td class="px-4 py-2 text-center">{{ department.clinic.name }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="px-4 py-2 text-center">No departments found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>

<!-------------------------   Room List       -->
<div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold mb-4 text-center">Room List</h1>
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-center">Number</th>
                        <th class="px-4 py-2 text-center">Department</th>
                        <th class="px-4 py-2 text-center">Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                        <tr class="border-b">
                            <td class="px-4 py-2 text-center">
                                <a
                                    href="{% url 'clinic:room_detail' room.pk %}"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    {{ room.number }}
                                </a>
                            </td>
                            <td class="px-4 py-2 text-center">{{ room.department.name }}</td>
                            <td class="px-4 py-2 text-center">{{ room.capacity }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="px-4 py-2 text-center">No rooms found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>

{% endblock %}
